@import '../custom_variable.scss';
.mycarousel{
    overflow: hidden;
    position: relative;
    &-wrapper{
        transition: transform .8s ease;
        flex-wrap: nowrap !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    &-prev{
        visibility: hidden;
        border: 1px solid #c1c8d1;
        display: flex;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
        background-color: white;
        border-radius: 9999px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
    }
    &-next{
        border: 1px solid #c1c8d1;
        display: flex;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
        background-color: white;
        border-radius: 9999px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
    }
    &-indicators{
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        & [mycarousel-target]{
            box-sizing: content-box;
            flex: 0 1 auto;
            padding: 0;
            margin-right: 3px;
            margin-left: 3px;
            cursor: pointer;
            background-color: #fff;
            background-clip: padding-box;
            transition: opacity .6s ease;
            & img{
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 5px;
            }
        }
    }
}
