@import '../custom_variable.scss';
.btn-switch{
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    animation-duration: .3s;
    transition-property: background-color;
    background-color: #a9b2be !important;
    border-radius: 9999px;
    width: 2.75rem;
    height: 1.5rem;
    padding: 0;
    &[check-state="true"]{
      background-color: $blue !important;
      & .btn-switch-inner{
        margin-left: 22px;
      }
    }
    &-inner{
      animation-timing-function: cubic-bezier(.4,0,.2,1);
      animation-duration: .3s;
      background-color: white !important;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 9999px;
      display: block;
      margin-left: .12rem;
      // margin-left: 20px;
    }
  }