$blue:rgb(18, 80, 220);
$gray: rgb(74, 79, 99);
$gray_light: rgb(101, 115, 132);
$white_gray: rgb(234, 239, 250);
$border_input_color: rgb(199, 200, 201);
$white: #fff;
$blue_light: rgb(229, 238, 255);