@import './components/carousel.scss';
.detail{
    background-color: rgb(237, 240, 243);
}
.swiper-button{
    &-prev{
        padding: 16px;
        box-shadow: 0px 0px 24px -4px rgba(0, 39, 102, 0.08),0px 0px 8px -4px rgba(0, 39, 102, 0.03);
        border-radius: 50px;
        width: 32px;
        height: 32px;
        background-color: rgba(2,11,39,.4);
        border: unset;
        right: auto;
        position: absolute;
        top: 50%;
        z-index: 5;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blue;
    }
}
.product{
    &-mini{
        border: 1px solid gray !important;
        border-radius: 5px;
    }
}
.after-dotted::after{
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 3px;
    background-color: #a9b2be;
}
#productQuantity:focus{
    outline: none;
}
li[active]{
    &>a{
        color: black !important;
    }
    border-radius: 0.375rem;
    background-color: rgb(237, 240, 243);
    border: 0;
}
li{
    border-bottom: 1px solid rgb(237, 240, 243);
}
.accordion-button{
    background-color: $white !important;
    box-shadow: none !important;
}