.input{
    &-dropdown{
      padding-top: .5rem;
      padding-bottom: .5rem;
      padding-left: 1rem;
      color: $gray;
      overflow: hidden;
      animation-timing-function: cubic-bezier(.4,0,.2,1);
      transition-duration: .15s;
      border: 1px solid $border_input_color;
      border-radius: .5rem;
      cursor: pointer;
      position: relative;
      &>input{
        border: none;
        min-width: 90%;
        &:focus{
          outline: none;
        }
      }
      &:hover{
        border: 1px solid $blue;
      }
      &-icon>*{
        width: 24px;
        height: 24px;
      }
    }
    &-custom{
      &:focus{
        padding-top: 24px;
        transition: all .3s ease-in;
        & + .input-placeholder{
          top: 12px;
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          color: inherit;
          transition: all .3s ease-in;
        }
      }
      &:not(:placeholder-shown){
        & + .input-placeholder{
          top: 12px;
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          color: inherit;
          transition: all .3s ease-in;
        }
      }
    }
    &-placeholder{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      transition: all .2s ease 0s;
      pointer-events: none;
      left: 16px;
      font-size: 16px;
      color: $gray_light;
    }
  }
  