@import "./custom_variable.scss";
@import "./components/carousel.scss";
@font-face {
  font-family: "Inter";
  src: url(/dist/fonts/Inter-Regular.ttf);
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.segoeui {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text {
  &-green {
    color: rgb(3, 152, 85);
  }
  &-white {
    &-90 {
      color: darken($white, 10) !important;
    }
  }
  &-yellow-8 {
    color: #dc6803;
  }
  &-blue {
    color: $blue !important;
  }
  &-gray {
    color: $gray !important;
  }
  &-gray-light {
    color: $gray_light !important;
  }
  &-very-small{
    font-size: 10px !important;
    line-height: 14px !important;
  }
  &-small {
    font-size: 14px !important;
    line-height: 20px !important;
    &-2 {
      font-size: 13px !important;
      line-height: 18px !important;
    }
    &-3 {
      font-size: 12px !important;
      line-height: 16px !important;
    }
  }
  &-small {
    font-size: 14px !important;
    line-height: 20px !important;
    &-2 {
      font-size: 13px !important;
      line-height: 18px !important;
    }
    &-3 {
      font-size: 12px !important;
      line-height: 16px !important;
    }
  }
  &-medium {
    font-size: 16px !important;
    line-height: 24px !important;
    &-2 {
      @extend .text-medium;
      font-size: 18px !important;
    }
  }
  &-semilarge {
    font-size: 24px !important;
    line-height: 32px !important;
    &-2 {
      font-size: 20px !important;
      line-height: 28px !important;
    }
  }

  &-large {
    font-size: 28px !important;
    line-height: 40px !important;
  }
  &-overlay {
    left: 50%;
    transform: translateX(-40%);
  }
  &-price {
    color: $blue;
    font-weight: 600;
    &-old {
      color: #657384;
      text-decoration: line-through;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
    }
  }
}
.inter {
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.bg {
  &-gray {
    background-color: #edf0f3 !important;
    &-light {
      background-color: rgb(237, 240, 243) !important;
    }
  }
  &-blue {
    background-color: $blue !important;
    &-1 {
      background-color: #eaeffa !important;
    }
    &-2 {
      background: rgb(235, 242, 255) !important;
    }
    &-3{
      background-color: rgb(193, 208, 246) !important;
    }
    &-light {
      background: linear-gradient(
        rgb(255, 255, 255),
        rgb(205, 223, 255)
      ) !important;
    }
  }
  &-main {
    background-color: rgb(252, 243, 232) !important;
  }
}
header {
  background-image: url(../../dist/img/background_header.png);
}
a:hover {
  text-decoration: none;
}
img.header {
  position: absolute;
  height: inherit;
  width: 100%;
}
.cart {
  background-color: rgb(18, 80, 220);
  border-radius: 30px;
  &-badge {
    top: 60px;
    right: 220px;
    min-width: 16px;
    min-height: 16px;
    background: #fa8c16;
    border-radius: 1000px;
    line-height: 16px;
    color: #fff;
    position: absolute;
    text-align: center;
    visibility: hidden;
  }
  &-extend {
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease 0.25s;
  }
  &-item {
    color: white;
    &:hover {
      color: white;
    }
  }
  &-icon {
    color: white;
    &:hover {
      color: white;
    }
  }
  &-link {
    color: white;
    &:hover {
      color: white;
    }
  }
  &-wrapper {
    width: 400px;
    border-radius: 12px;
    position: relative;
    box-shadow: rgba(0, 39, 102, 0.08) 0px 0px 24px -4px,
      rgba(0, 39, 102, 0.03) 0px 0px 8px -4px;
    background-color: $white;
    &::before {
      content: "";
      top: -8px;
      display: block;
      height: 16px;
      width: 16px;
      background-color: $white;
      position: absolute;
      border: inherit;
      bottom: 0px;
      right: 32px;
      transform: rotate(135deg);
      border-radius: 0px 0px 0px 4px;
    }
  }
  &-container {
    max-height: 420px;
    overflow-y: auto;
  }
}
.border {
  &-gray {
    border: 1px solid #c1c8d1 !important;
  }
  &-bottom {
    border-bottom: 3px solid white !important;
    &:hover {
      border-bottom: 3px solid rgb(32, 94, 224) !important;
      span {
        color: $blue;
        i {
          transform: rotate(0deg);
          color: $blue;
        }
      }
    }
  }
  &-none {
    border: none !important;
    border-style: none !important;
    &:focus {
      outline: none !important;
    }
  }
}
.btn {
  &-active{
    background-color: $blue !important;
    color: white !important;
  }
  &-blue {
    background-color: $blue;
  }
  &-search {
    border: none;
    color: $blue;
    background-color: #c1d0f6;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    &:hover {
      color: #fff;
      background-color: rgb(32, 94, 224);
    }
    &:focus {
      outline: none;
    }
  }
  &-slide-bar {
    background-color: #fff;
    border-radius: 20px;
    height: 80px;
    width: 192px;
  }
  &-pre {
    border: 1px solid #c1c8d1;
    display: flex;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    background-color: white;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    left: 0;
    &:hover {
      border: 1px solid $blue;
    }
  }
  &-next {
    box-shadow: rgba(0, 39, 102, 0.1) 0px 0px 8px -2px,
      rgba(0, 39, 102, 0.06) 0px 0px 4px -2px;
    border: 1px solid #c1c8d1;
    display: flex;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    background-color: white;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-50%, -50%) rotate(0) skew(0, 0) scale(1, 1);
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: -2%;
    touch-action: manipulation;
    &:hover {
      border: 1px solid $blue;
    }
  }
}
.rounded-full {
  border-radius: 9999px;
}
.semi-rotate {
  transition: transform 0.2s ease 0.2s;
  transform: rotate(180deg);
}

.slide-bar {
  background-image: url(../../dist/img/background_slide.png);
}
.carousel-item {
  transition: transform 0.6s ease;
}
.my-nav {
  height: fit-content;
}
.panel {
  cursor: auto;
  position: absolute;
  left: 10%;
  top: 100%;
  background-color: $white;
  border-radius: 0px 0px 16px 16px;
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: ease;
  box-shadow: 0 100vh 0 100vh rgba(2, 11, 39, 0.5);
  padding: 16px;
  width: 1200px !important;
  height: fit-content;
  z-index: 3;
  & a {
    color: $gray;
    &:hover {
      color: black;
    }
  }
  &-item {
    background-color: $white;
    border-radius: 8px 0px 0px 8px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 2px solid #edf0f3;
    cursor: pointer;
    &:hover {
      background-color: #edf0f3;
    }
  }
}
.nav-item {
  &:hover {
    & .panel {
      opacity: 1;
      visibility: visible;
    }
  }
}

@keyframes opacity-delay {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.product {
  background-color: #fff;
  border-radius: 10px;
  height: fit-content;
  width: 190px;
  &-short {
    background-color: transparent;
    border-radius: 10px;
    height: fit-content;
    width: 165px;
  }
  &-mini {
    background-color: $white;
    border-radius: 1rem;
  }
  &-top {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 78.5%;
    opacity: 1;
  }
  &:hover {
    border: 1px solid rgb(32, 94, 224);
  }

  &-discount {
    background-color: rgb(228, 52, 39);
    border-radius: 10px 0%;
    text-shadow: rgba(0, 0, 0, 0.25) 0.5px 0.5px 0px;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
    height: 26px;
  }
  &-link {
    color: #020b27;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 60px;
    touch-action: manipulation;
  }
  &-price {
    color: $blue;
    font-weight: 600;
    &-old {
      color: #657384;
      text-decoration: line-through;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
    }
  }
  &-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
  &-unit {
    background-color: #edf0f3;
    border-radius: 30px;
    margin-left: 10px;
    height: fit-content;
    width: fit-content;
    &-text {
      font-size: 13px;
      line-height: 18px;
      font-weight: 500;
      color: #4a4f63;
      text-align: center;
    }
    &-short {
      @extend .product-price;
    }
  }
  &-buy {
    color: $white !important;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.01em;
    padding: 8px 12px 8px 12px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 36px;
    display: inline-flex;
    cursor: pointer;
    background-image: linear-gradient(315deg, #1250dc 0%, #306de4 100%);
  }
  &-gift {
    background-image: linear-gradient(295deg, #cd1a0c 0%, #ff5246 98.45%);
    color: white;
    border-radius: 0.25rem;
    align-items: center;
    width: fit-content;
    display: flex;
    margin-top: 0.375rem;
    height: 20px;
    &-icon {
      background: rgba(255, 255, 255, 0.2);
      padding: 0.25rem;
      border-radius: 0.25rem;
      align-self: stretch;
      place-items: center;
      flex-shrink: 0;
      display: grid;
    }
    &-text {
      text-shadow: rgba(0, 0, 0, 0.25) 0.5px 0.5px 0px;
      -webkit-line-clamp: 2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
.vaccine {
  &-item {
    padding-right: 1.5rem;
    padding-left: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    align-items: center;
    height: 100%;
  }
  &-icon {
    width: 66px;
    height: 66px;
    background-color: #eaeffa;
    border-radius: 9999px;
  }
}

.brand {
  padding: 1rem 0 0.75rem 0;
  margin: auto;
  border-radius: 0.75rem;
  width: 238px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  border: 1px solid #c1c8d1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  display: flex;
  &-wrapper {
    transition: transform 0.8s ease;
  }
}
.category {
  padding: 1rem 0 0.75rem 0;
  margin: auto;
  border-radius: 0.75rem;
  width: 195px;
  border: 1px solid #c1c8d1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 100%;
  display: flex;
}
.col {
  &-1p25 {
    flex: 0 0 auto;
    width: 10.41666666%;
  }
  &-1p5 {
    flex: 0 0 auto;
    width: 12.5%;
  }
  &-1p75 {
    flex: 0 0 auto;
    width: 14.58333333%;
  }
  &-2p25 {
    flex: 0 0 auto;
    width: 18.75%;
  }
  &-2p5 {
    flex: 0 0 auto;
    width: 20.83333333%;
  }
  &-2p75 {
    flex: 0 0 auto;
    width: 22.91666666%;
  }
  &-3p75 {
    flex: 0 0 auto;
    width: 31.25%;
  }
  &-4p5 {
    flex: 0 0 auto;
    width: 37.5%;
  }
  &-5p25 {
    flex: 0 0 auto;
    width: 43.75%;
  }
  &-5p5 {
    flex: 0 0 auto;
    width: 45.83333333%;
  }
}
.health-check {
  &-icon {
    width: 66px;
    height: 66px;
    background-color: #eaeffa;
    border-radius: 9999px;
  }
  &-item {
    padding-right: 1.5rem;
    padding-left: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    align-items: center;
    height: 100%;
    width: 285px;
  }
  &-pre {
    @extend .btn-pre;
    top: 55%;
    left: 4.5%;
    &:hover {
      border: 1px solid $blue;
    }
  }
  &-next {
    @extend .btn-next;
    top: 55%;
    right: 26.5%;
    &:hover {
      border: 1px solid $blue;
    }
  }
  &-wrapper {
    transition: transform 0.6s ease;
  }
}
.icon {
  &-sticky {
    width: 0px;
    height: 0px;
    border-top: 26px solid $blue;
    border-left: 26px solid transparent;
    margin-top: -6px;
    margin-right: -10px;
    position: absolute;
    top: 6px;
    right: 10px;
  }
  &-circle {
    border-radius: 9999px;
  }
}
.subject {
  overflow: hidden;
  cursor: pointer;
  -will-change: transform;
  display: inline-flex;
  -webkit-box-pack: center;
  border-radius: 50px;
  background-color: $white;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $gray;
  color: $gray;
  position: relative;
  height: 36px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  &-seleted {
    @extend .subject;
    border: 1px solid $blue;
    color: $blue;
  }
  &-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: -0.125em;
    position: absolute;
    right: 3px;
    top: -30px;
    height: 10px;
  }
  &-pre {
    @extend .btn-pre;
    left: 1.5%;
  }
  &-next {
    @extend .btn-next;
    right: -1%;
  }
  &-wrapper {
    transition: transform 0.6s ease;
  }
  &-item {
    @extend .product;
  }
}
.new-event {
  &-tag {
    background-color: #edf0f3;
    border-radius: 30px;
    height: 22px;
    width: fit-content;
  }
}
.box {
  &-white {
    padding-right: 1.5rem;
    padding-left: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    align-items: center;
    height: 100%;
  }
  &-gray {
    @extend .box-white;
    background-color: $gray;
  }
  &-gray-light {
    @extend .box-white;
    background-color: $gray_light;
  }
  &-white-gray {
    @extend .box-white;
    background-color: $white_gray;
  }
  &-blue {
    @extend .box-white;
    background-color: $blue;
  }
  &-blue-light {
    @extend .box-white;
    background-color: $blue_light;
  }
  &-red {
    @extend .box-white;
    background-color: red;
  }
  &-yellow {
    @extend .box-white;
    background-color: yellow;
  }
}
.sick {
  padding: 16px;
  border-radius: 0.75rem;
  transition: {
    property: all;
    timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    duration: 0.15s;
  }
  &-pre {
    @extend .btn-pre;
    left: 2%;
  }
  &-next {
    @extend .btn-next;
    right: -1.5%;
  }
  &-wrapper {
    transition: transform 0.6s ease;
  }
}
.line-clamp {
  &-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  &-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  &-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
.hover{
  &-underline:hover{
    text-decoration: underline;
  }
  &-none:hover{
    text-decoration: none;
  }
}
.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}
#txtSearch {
  width: 100%;
}
#remove_search {
  visibility: hidden;
}
.search-extend {
  visibility: hidden;
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.4s;
  transition-delay: 0.2s;
  transition-timing-function: ease;
  box-shadow: 0 112vh 0 100vh rgba(2, 11, 39, 0.5);
  z-index: 3;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
[role="button"],
a,
area,
button,
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  &::before,
  &::after {
    content: "";
    flex-grow: 1;
    border-top: 1px solid #ccc;
    margin: 0 10px;
  }
}
.login{
    &-container{
        width: 450px;
        height: 476px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding-top: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 11;
        border-radius: 30px;
        visibility: hidden;
    }
    &-form{
        display: block;
    }
    &-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        visibility: hidden;
    }
}
input:read-only{
  border: 0;
  cursor: pointer;
  &:hover{
    outline: none;
  }
}
.outline-none{
  outline: none;
}
.form-control:focus{
  box-shadow: none;
}
.form-check-input{
  background-color: #bdbdbd;
}
.carousel-indicators{
  margin-left: 40%;
  bottom: 0;
}
.carousel-indicators [data-bs-target]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c8d1;
  margin-right: 10px;
}
.carousel-indicators .active{
  background-color: #657384;
}
.carousel-control-next, .carousel-control-prev{
  width: 5%;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: rgba(2, 11, 39, .4);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 80%;
}
tfoot{
  position: sticky;
  bottom: 0;
  z-index: 1;
}
input[type="file"]{
  margin-left: -2px !important;
  &::file-selector-button{
    display: none;
  }
  &::-webkit-file-upload-button{
    display: none;
  }
  &:hover {
		label {
			background-color: #dde0e3;
			cursor: pointer;
		}
	}

}
@media only screen and (max-width: 1238px) {
  .product {
    &-top {
      top: 74.5%;
    }
  }
}
